body {
    background-color: #e6e9f0;

    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    size: 90%;
    min-height: 15em;
    margin-top: 1em;
    margin-left: 2em;
    box-shadow: 6px 5px 20px 1px rgba(0, 0, 0, 0.5);
}

.box {
    max-width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1em;
    box-shadow: 6px 5px 20px 1px rgba(0, 0, 0, 0.5);
}

fieldset {
    border: 0pt
}

legend {
    font-weight: 700;
    margin: 0;
}

textarea,
input {
    border: none;
    border: solid 1px #CCCCCC;
    border-radius: 5px;
    width: 90%;
    margin: 0;
}

select {
    height: 2rem;
    margin: 0.5rem
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

button {
    background-color: firebrick;
    border-radius: 11px;
    border-color: #e05915;
    padding: 10px 32px;
    color: #e6e9f0;
    display: block;
    font-size: 19px;
    text-align: center;
    margin-top: 10px;
}

select {
    height: 2rem;
    margin: 0.5rem
}

#filters {
    margin: 0;
    padding: 15px;
    background-color: #bccbde;
}